*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    position: relative;
    box-sizing: border-box;
    background-color: black;
    margin: 0 auto;
    width: 100%;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(18, 18, 18, 0.8);
    z-index: 10;
    box-sizing: border-box;
    /* width: 80%; */
    margin: 4%  auto 0 auto;
    /* min-width: 850px; */
}
.ships{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: justify;
    max-width: 900px;
}
.text{
    display: flex;
    flex-direction: column;
}
.text p{
    text-indent: 30px;
    padding: 0px;
    color: white;
    font-weight: 500;
}
.text li{
    padding: 0px;
    color: white;
    font-weight: 500;
}
.text h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0px;
}
.blocks{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    position: relative;
    flex: 0 0 250px;
    margin-bottom: 10px;
}
.blocks p{
    width: 550px;
}
.slider-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.slider-image {
    display: none;
    width: 100%;
}
.slider-image.active {
    display: block;
}
hr{
    display: flex;
    align-self: center;
    width: 80%;
    height: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: rgb(20, 20, 20);
    border: 0px;
}


